body { 
	width: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: url(images/background.png) #e3e3e3;
	margin: 0;
	padding: 0;
}

#container {
	margin: 0;
}

#header {
	margin: 0 0 10px 0;
	background: url(images/header.png) no-repeat;
	height: 28px;
}

#header img#icon {
	width: 22px; 
	height: 22px;
	margin-left: 2px;
	margin-top: 2px;
	display: inline-block;
	cursor: pointer;
	float: left;
}

#header div#title {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #FFF;
	display: inline-block;
	margin: 6px;
	float: left;
}

#notLogged a { 
	font-size: 18px;
	text-decoration: none;
	color: #504b4b;
	font-family: "Times New Roman", Times, serif; 
	font-weight: bold;
	display: block;
	margin: 10px auto;
	text-align: center;
	width: 60px;
}

#notLogged a:hover {
	color: #FFF;
}

.logged { 
	display: none; 
}

.buttons {
	display: inline-block;
	margin-left: 50px;
	height: 20px;
	float: right;
	margin: 4px;
}

#status_bar {
	font-family: "Times New Roman", Times, serif;
}

#status_header {
	display: inline-block; 
	margin-left: 3px;
	margin-bottom: 2px;
}

#status {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	font-weight: bolder;
	font-style: italic;
	color: green;
}

.stopped#status {
	color: red;
}

#refreshing {
	display: inline-block;
	float: right;
	margin-right: 10px;
	font-weight: bold;
}

.hidden#refreshing {
	display: none;
}

div#refresh {
	background: url(images/refresh_.png) no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 2px;
}

div#refresh:hover {
	background: url(images/refresh_hover_.png) no-repeat;
}

div#refresh:active {
	background: url(images/refresh_pressed_.png) no-repeat;
}

div#toggle {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 6px;
	border-radius: 5px;
}

div.startTimer {
	background: url(images/play_.png) no-repeat;
}

div.stopTimer {
	background: url(images/pause_.png) no-repeat;
}

div.startTimer:hover {
	background: url(images/play_hover_.png) no-repeat;
}

div.stopTimer:hover {
	background: url(images/pause_hover___.png) no-repeat;
}

div.startTimer:active {
	background: url(images/play_pressed_.png) no-repeat;
}

div.stopTimer:active {
	background: url(images/pause_pressed___.png) no-repeat;
}

div#close {
	background: url(images/close_.png) no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: right;
	margin: 4px;
	border-radius: 20px;
}

div#close:hover {
	background: url(images/close_hover__.png) no-repeat;
}

div#close:active {
	background: url(images/close_pressed__.png) no-repeat;
}

span.slide {
	cursor: pointer;
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(-360deg); }
}

.spinning {
	-webkit-animation: spin infinite 1s linear;
}

.section {
	width: 196px;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #888888;
	margin-bottom: 10px;
}

.section_title {
	height: 30px;
	background: url(images/menu_title_bg.gif) no-repeat center;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #fff;
	line-height: 30px;
}

.section_body {
	height: auto;
	border: 1px #6da6b1 solid;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#newMailsNumber, #newNoticesNumber {
	text-align: center;
	height: 50px;
	background: #eee6e6; 
	background-position: 5px 5px;
	border-bottom: 1px #FFFFFF solid;
	line-height: 50px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#newMailsNumber a, #newNoticesNumber a {
	text-decoration: none;
	color: #504b4b;
	font-size: 15px;
}

#newMailsNumber a:hover, #newNoticesNumber a:hover {
	background: url(images/leftsubmit.png) no-repeat left;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}

#topics ul {
	padding: 0px;
	margin: 0px;
}

#topics ul li {
	margin: 0px;
	list-style: none;
	border-bottom: 1px #FFFFFF solid;
	padding: 5px 10px;
	text-align: center;
}

#topics ul li:nth-child(odd) {
	background: #dad0d0; 	
}

#topics ul li:nth-child(even) {
	background: #eee6e6;
}

#topics ul li:nth-child(odd):hover {
	background: url(images/darkarrow.png) no-repeat top left #dad0d0;
	background-position: -1px 10px;
}

#topics ul li:nth-child(even):hover {
	background: url(images/darkarrow.png) no-repeat top left #eee6e6;
	background-position: -1px 10px;
}

#topics ul li:nth-child(odd) a, #topics ul li:nth-child(even) a {
	color: #504b4b;
	text-decoration: none;
}

#topics ul li:nth-child(odd) a:hover, #topics ul li:nth-child(even) a:hover{
	font-weight: bold;
	color: #FFF;
}